<div class="col-md-6 offset-md-3 mt-3">
  <h2 class="font-weight-bold text-center">パスワード再設定メールの送信</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field border-bottom">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border-0" %>
    </div>

    <div class="actions mt-3 text-center">
      <%= f.submit "送信", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
